h1 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

body{
    background: #dbdbdb;
}

.container {
    margin-top: 40px;
}

.home-button {
    background-color: #20B2AA;
    margin-left: 60px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.box {
    background: #fff;
    padding: 20px;
  }

#summary-image {
    float: left;
    width: 300px;
    height: 200px;
    margin-right: 20px;
}

#current-image {
    width: 100%;
}

.title {
    font-family: Georgia, serif;
    font-weight: bold;
    color:#20B2AA;
}

.paragraph_text {
    color: #888686d7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}

.current-border {
    border-style: solid;
    border-color: #20B2AA;
}

.text-center {
    text-align: center;
}